<!-- Footer -->

<link rel="icon" type="image/png" href="../../images/favicon-32x32.png">
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><em
                    class="fab fa-facebook-f"></em></a>

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><em
                    class="fab fa-twitter"></em></a>

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><em
                    class="fab fa-google"></em></a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><em
                    class="fab fa-instagram"></em></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><em
                    class="fab fa-linkedin-in"></em></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><em
                    class="fab fa-github"></em></a>
        </section>
        <!-- Section: Social media -->

        <!-- Section: Form -->
        <section class="">
            <form action="">
                <!--Grid row-->
                <div class="row d-flex justify-content-center">
                    <!--Grid column-->
                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>Sign up for our newsletter</strong>
                        </p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-5 col-12">
                        <!-- Email input -->
                        <div class="form-outline form-white mb-4">
                            <input type="email" id="form5Example21" class="form-control" />
                            <label class="form-label" for="form5Example21">Email address</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-auto">
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-outline-light mb-4">
                            Subscribe
                        </button>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </form>
        </section>
        <!-- Section: Form -->

        <!-- Section: Text -->
        <section class="mb-4">
            <p>
                Subscribe to Our Newsletter for Keep up to date with ICONICS events, webcasts, and news about upcoming releases
            </p>
        </section>
        <!-- Section: Text -->

        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase"> About</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Company</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Partners</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Sales Channels</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">System Integrator Program</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Find a System Integrator</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">News</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Events</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Careers</a>
                        </li>
                    </ul>
                </div>








                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase"> Resources</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Documents</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Product Trials</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Training Videos</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Training Classes</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">ICONICS Blog</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Videos</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Webcasts</a>
                        </li>
                    </ul>
                </div>












                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Support</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Support Center</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">License a Product</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Customer Connection Portal</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Help Documentation</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase"> Contact Us</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">ICONICS World Headquarters
                                100 Foxborough Blvd
                                Foxborough, MA 02035</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">+1 508 543 8600</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">us@iconics.com</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Click Here for International Offices</a>
                        </li>
                    </ul>
                </div>





                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->




    <!-- Copyright -->

    <!-- Copyright -->
</footer>
<!-- Footer -->