<h1>user details for Electricty</h1>
<button class="btn btn-success" id="home" (click)="nanvigateHome()">Home</button>
<button class="btn btn-primary" id="back" (click)="nanvigateback()">Back</button>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">fields</th>
            <th scope="col">user details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Name </td>
            <td>{{temp.name}}</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>{{temp.date}}</td>
        </tr>
        <tr>
            <td>computer</td>
            <td>{{temp.computer}}</td>
        </tr>
        <tr>
            <td>Cooling</td>
            <td>{{temp.cooling}}</td>
        </tr>
        <tr>
            <td>useage</td>
            <td>{{temp.useage}}</td>
        </tr>
    </tbody>
</table>