<h1>user details for Electricty</h1>
<button class="btn btn-success" id="home" (click)="nanvigateHome()">Home</button>
<button class="btn btn-primary" id="back" (click)="nanvigateback()">Back</button>

<table class="table">
    <caption> Electricty consumption Detail view By User</caption>

    <thead class="thead-dark">
        <tr>
            <th scope="col">fields</th>
            <th scope="col">user details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Name </td>
            <td>{{temp.name|titlecase}}</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>{{temp.date|date}}</td>
        </tr>
        <tr>
            <td>computer</td>
            <td>{{temp.computer|number}}</td>
        </tr>
        <tr>
            <td>Cooling</td>
            <td>{{temp.cooling|number}}</td>
        </tr>
        <tr>
            <td>useage</td>
            <td>{{temp.useage|number}}</td>
        </tr>
    </tbody>
</table>