<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark navbar fixed-top navbar-expand-lg">
    <a class="navbar-brand" href="#">Energy Management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse nav " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#"> Company</a>
                    <a class="dropdown-item" href="#">Partners</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Sales Channels</a>
                    <a class="dropdown-item" href="#">News</a>
                    <a class="dropdown-item" href="#">System Integrator Program</a>
                    <a class="dropdown-item" href="#">Careers</a>
                    <a class="dropdown-item" href="#">Contact Us</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Solutions
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#"> IoT</a>
                    <a class="dropdown-item" href="#"> Analytics</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"> Mobility</a>
                    <a class="dropdown-item" href="#"> Alarm Management</a>
                    <a class="dropdown-item" href="#"> Data Historian</a>
                    <a class="dropdown-item" href="#"> Energy Management</a>

                </div>


            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Industries
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Automotive</a>
                    <a class="dropdown-item" href="#">Building Automation</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Food and Beverage</a>
                    <a class="dropdown-item" href="#">Manufacturing</a>
                    <a class="dropdown-item" href="#">Materials and Mining</a>
                    <a class="dropdown-item" href="#">Oil and Gas</a>
                    <a class="dropdown-item" href="#">Pharmaceutical</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Products
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Hyper Historian</a>
                    <a class="dropdown-item" href="#">MobileHMI</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">IoTWorX</a>
                    <a class="dropdown-item" href="#">KPIWorX</a>
                    <a class="dropdown-item" href="#">Facility AnalytiX</a>
                    <a class="dropdown-item" href="#">SoQuality AnalytiX</a>
                    <a class="dropdown-item" href="#">CFSWorX</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Documents
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Product Trials</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Success Stories</a>
                    <a class="dropdown-item" href="#">Videos</a>
                    <a class="dropdown-item" href="#">Training Videos</a>
                    <a class="dropdown-item" href="#">Training Classes</a>
                    <a class="dropdown-item" href="#"> Blog</a>
                    <a class="dropdown-item" href="#">Webcasts</a>
                </div>
            </li>

        </ul>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="click()"> Log-in</button>
    </div>
</nav>
<br>