<h1>Master Energy Management Data Table</h1>

<table class="table">
    <thead class="thead-dark dark-bg">
        <tr>
            <th scope="col">Fields</th>
            <th scope="col">User details</th>
            <th scope="col">View</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Total Water Useage in liter</td>
            <td>{{result}}</td>
            <button (click)=" waterviewtable()" class="btn btn-primary ">View</button>
        </tr>
        <tr>
            <td>Total Electricity Useage in Units</td>
            <td>{{electricty }}</td>
            <button (click)=" eleviewtable()" class="btn btn-primary ">View</button>

        </tr>
        <tr>
            <td> Gas Consuption</td>
            <td>{{gas}}</td>
            <button (click)=" gasviewtable()" class="btn btn-primary ">View</button>

        </tr>
        <tr>
            <td>Total Energy Generated</td>
            <td>{{renewable}}</td>
            <button (click)=" renewableviewtable()" class=" btn btn-primary ">View</button>

        </tr>
    </tbody>
</table>