<h1>Master Energy Management Data Table</h1>

<table class="table">
    <thead class="thead-dark dark-bg">
        <tr>
            <th scope="col">fields</th>
            <th scope="col">user details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Total Water Useage in liter</td>
            <td>{{result}}</td>
        </tr>
        <tr>
            <td>Total Electricity Useage in Units</td>
            <td>{{result1}}</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>value</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>value</td>
        </tr>
        <tr>
            <td>password</td>
            <td>value</td>
        </tr>




    </tbody>
</table>