<h1>Electricty Management</h1>
<form [formGroup]="formGroup" class="form" (ngSubmit)="storing(this.formGroup.value)">
    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" class="form-control" formControlName="name" placeholder="Name Required" required />
        <div class="help-block text-danger" *ngIf="name.touched">
            <span *ngIf="name.errors?.required">
                First Name is REQUIRED!!!
            </span>
        </div>
    </div>

    <div class="form-group">
        <label for="useage">How much Electricty used for operating industrial motors and machinery</label>
        <input id="useage" type='number' class="form-control" formControlName="useage" placeholder="How Much Electricty use in Unit" />
    </div>

    <div class="form-group">
        <label for="date">Date</label>
        <input id="date" class="form-control" type="date" formControlName="date" placeholder="Date " />

    </div>

    <div class="form-group">
        <label for="cooling">How much Electricty used for lights,cooling, and ventilation.</label>
        <input id="cooling" type='number' class="form-control" formControlName="cooling" placeholder="How Much Electricty use in Unit" />
    </div>

    <div class="form-group">
        <label for="computer">How much Electricty computers and office equipment and equipment for facility
            heating</label>
        <input id="computer" type='number' class="form-control" formControlName="computer" placeholder="How Much Electricty use in Unit" />
    </div>
    <hr />
    <button class="btn btn-primary">Add Data</button>
</form>
<button class="btn btn-primary" (click)="getData('electricty')">Get Data</button>
<button (click)="exportexcel()" class="btn btn-success
">Export to Excel</button>


<table class="table" id="excel-table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Useage</th>
            <th scope="col">date</th>
            <th scope="col">cooling</th>
            <th scope="col">computer</th>
            <!-- <th scope="col">id</th> -->
            <th scope="col">Delete</th>
            <th scope="col">view</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of typedData">
            <td>{{user.name}}</td>
            <td>{{user.useage}}</td>
            <td>{{user.date}}</td>
            <td>{{user.cooling}}</td>
            <td>{{user.computer}}</td>
            <!-- <td>{{user._id}}</td> -->
            <td><a class="btn btn-sm text-white btn-danger" (click)="deleteuser(user._id,user._rev)">Delete</a></td>
            <td><a class="btn btn-primary " (click)="viewele(user._id)">View</a> </td>

            <!-- <td><a class="btn btn-sm text-white btn-success"  (click)="edit(obj,j)" ></a></td> -->
        </tr>


    </tbody>
</table>