<h1>user details for Gas</h1>
"
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">fields</th>
            <th scope="col">user details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Name </td>
            <td>{{temp.name|titlecase}}</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>{{temp.date|date}}</td>
        </tr>
        <tr>
            <td>Food</td>
            <td>{{temp.food|number}}</td>
        </tr>
        <tr>
            <td>Heateing</td>
            <td>{{temp.heateing|number}}</td>
        </tr>
        <tr>
            <td>Power</td>
            <td>{{temp.power|number}}</td>
        </tr>
        <tr>
            <td>Petrol Vehical</td>
            <td>{{temp.vehical|number}}</td>
        </tr>
        <tr>
            <td>Petrol Useage</td>
            <td>{{temp.useage|number}}</td>
        </tr>
    </tbody>
</table>