<h1>user details for Water</h1>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">fields</th>
            <th scope="col">user details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Name </td>
            <td>{{temp.name}}</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>{{temp.date}}</td>
        </tr>
        <tr>
            <td>Gardening</td>
            <td>{{temp.gardening}}</td>
        </tr>
        <tr>
            <td>Cooling</td>
            <td>{{temp.cooling}}</td>
        </tr>
        <tr>
            <td>useage</td>
            <td>{{temp.useage}}</td>
        </tr>
    </tbody>
</table>