<button (click)="exportexcel()" class="btn btn-success
" [disabled]="viewVal.length==0">Export to Excel</button>

<button class="btn btn-primary" (click)="getDataByView('water')">Get Data By View</button>
<button class="btn btn-primary" id="home" (click)="navigateHome()">Home</button>
<button class="btn btn-success" id="home" (click)="navigateBack()">Back</button>
<p id="text">Search:</p><input type="text" [(ngModel)]="term" class="form-control" id="search">

<table class="table" id="excel-table">
    <caption>Water consumption view By User</caption>

    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Useage</th>
            <th scope="col">Date</th>
            <th scope="col">Cooling</th>
            <th scope="col">Gardening</th>
            <th scope="col">Delete</th>
            <th scope="col">View</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of viewVal |filter:term">
            <td>{{user.name|titlecase }}</td>
            <td>{{user.useage|number}}</td>
            <td>{{user.date}}</td>
            <td>{{user.cooling|number}}</td>
            <td>{{user.gardening|number}}</td>
            <td><a class="btn btn-sm text-white btn-danger" (click)="deleteuser(user._id,user._rev)">Delete</a></td>
            <td><a class="btn btn-primary " (click)="viewWater(user._id)">View</a> </td>

        </tr>
    </tbody>
</table>