table {
    width: 70%;
    justify-content: center;
    margin: 100px auto;
    margin-left: 200px;
}

button {
    margin-top: 20px;
    margin-left: 20px;
}

#search {
    width: 25%;
    margin-top: 20px;
    margin-left: 25px;
}

#text {
    margin-top: 20px;
    margin-left: 25px;
    font-size: 1.2rem;
}