<h1>user details for Renewable</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">fields</th>
            <th scope="col">user details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Name </td>
            <td>{{temp.name}}</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>{{temp.date}}</td>
        </tr>
        <tr>
            <td>Hydro</td>
            <td>{{temp.hydro}}</td>
        </tr>
        <tr>
            <td>Nuclear</td>
            <td>{{temp.nuclear}}</td>
        </tr>
        <tr>
            <td>Solar</td>
            <td>{{temp.solar}}</td>
        </tr>
        <tr>
            <td>Tidal</td>
            <td>{{temp.tidal}}</td>
        </tr>
        <tr>
            <td>Wind</td>
            <td>{{temp.wind}}</td>
        </tr>
    </tbody>
</table>