<div class="fixed-bg"></div>
<div class="container">
    <section id="header-top">
        <div class="header-content">
            <h1>Energy Management</h1>
            <p>Go easy on the environment and your budget by measuring, controlling, and optimizing your energy consumption.

        </div>
    </section>
</div>

<section>
    <div class="container">
        <h2 class="blue">What Is Energy Management Software?</h2>
        <p>Energy Management systems help to deliver rich platform and browser-independent real-time visualization of energy use. Such software can address any application from a single building to an entire campus or multi-site enterprise. Energy Management
            system software involves solutions to monitor, analyze and improve organizational assets. It helps to optimize energy usage of buildings and equipment. It can help identify energy-related efficiency issues in production processes. It also
            helps to simplify workflow for field operatives. With these software tools, users can create IT firewall-friendly, secure custom energy dashboards and kiosks to view reports for analysis of energy consumption patterns, resource usage, and
            progress on sustainability efforts. Site managers, building engineers or maintenance personnel can quickly and intuitively navigate energy-related data and discover opportunities for improvement.
        </p>
    </div>
</section>

<section id="section-howitworks" class="sec">
    <div class="container flex">
        <div class="main">
            <div class="text-left">
                <h2 class="white">How Energy Management Works</h2>
                <p>ICONICS Energy Management tools provide open universal data connectivity and enterprise integration to a wide variety of BMS, SCADA, ERP, and control systems. They include built-in calculations, KPIs, analytics, data historian, reporting,
                    and the rich visualization needed to take decisive action to reduce and manage utility costs and consumption. </p>
            </div>


            <div class="mobileimg">
                <img src="../../assets/energy management image.png" alt="image">
            </div>

        </div>
    </div>
</section>
<section id="section-industries" class="sec">
    <div class="container">
        <h2 class="blue">Energy Management Software for Your Industry



        </h2>
        <ul class="flex-container">
            <li class="feature slide-in">

                <div class="feature-text">
                    <h3>Energy Management for Utilities and Energy</h3>
                    <p>Utilities and energy-based organizations understand how energy management and monitoring can affect the bottom line of their business. ICONICS Energy Management solutions can aid customers who are also energy suppliers themselves.
                    </p>

                    <a href="/Industries/Transportation">
                        <div class="button-readmore">Read More →</div>
                    </a>

                </div>
            </li>
            <li class="feature slide-in">
                <div class="feature-img"><img id="p_lt_ctl06_pageplaceholder_p_lt_ctl28_EditableImage8_ucEditableImage_imgImage" src="/Production/media/Image-Library/Icons/Industries/water-wastewater.svg" alt="">

                </div>
                <div class="feature-text">
                    <h3>Energy Management for Water and Wastewater



                    </h3>
                    <p>Energy-related costs are a large portion of water and wastewater organizations’ annual budget. Energy management software can help to better quantify these costs to bolster efforts towards reduction and cost savings.



                    </p>

                    <a href="/Industries/Water-and-Wastewater">
                        <div class="button-readmore">Read More →</div>
                    </a>

                </div>
            </li>
            <li class="feature slide-in">
                <div class="feature-img"><img id="p_lt_ctl06_pageplaceholder_p_lt_ctl31_EditableImage7_ucEditableImage_imgImage" src="/Production/media/Image-Library/Icons/Industries/transportation.svg" alt="">

                </div>
                <div class="feature-text">
                    <h3>Energy Management for Transportation



                    </h3>
                    <p>Transportation organizations must consider facilities expenses along with their vehicles. Energy management software helps administrators understand the costs, consumption, and carbon output of facilities related to vehicle storage,
                        maintenance and operations.



                    </p>

                    <a href="/Industries/Transportation">
                        <div class="button-readmore">Read More →</div>
                    </a>

                </div>
            </li>
            <li class="feature slide-in">
                <div class="feature-img"><img id="p_lt_ctl06_pageplaceholder_p_lt_ctl34_EditableImage9_ucEditableImage_imgImage" src="/Production/media/Image-Library/Icons/Industries/building-automation.svg" alt="">

                </div>
                <div class="feature-text">
                    <h3>Energy Management for Building Automation



                    </h3>
                    <p>As modern buildings grow smarter, an energy management solution should be immediately considered in most building automation applications, allowing for a clear understanding of a building’s entire energy use and costs.



                    </p>

                    <a href="/Industries/Building-Automation">
                        <div class="button-readmore">Read More →</div>
                    </a>

                </div>
            </li>
            <li class="feature slide-in">
                <div class="feature-img"><img id="p_lt_ctl06_pageplaceholder_p_lt_ctl37_EditableImage10_ucEditableImage_imgImage" src="/Production/media/Image-Library/Icons/Industries/sustainability.svg" alt="">

                </div>
                <div class="feature-text">
                    <h3>Energy Management for Sustainability



                    </h3>
                    <p>Organizations whose mission is to help other companies become more sustainable and environmentally responsible can use energy management software’s extensive dashboarding in order to demonstrate progress on energy-saving efforts.



                    </p>

                    <a href="/Industries/Sustainability">
                        <div class="button-readmore">Read More →</div>
                    </a>

                </div>
            </li>
            <li class="feature slide-in last">
                <div class="feature-img"><img id="p_lt_ctl06_pageplaceholder_p_lt_ctl40_EditableImage15_ucEditableImage_imgImage" src="/Production/media/Image-Library/Icons/Industries/manufacturing.svg" alt="">

                </div>
                <div class="feature-text">
                    <h3>Energy Management for Manufacturing



                    </h3>
                    <p>Cost-cutting is inevitable in any manufacturing operation, as organizations strive to make the best use of their investments. Measuring and managing manufacturing process energy use, can be a competitive advantage.



                    </p>

                    <a href="/Industries/Manufacturing">
                        <div class="button-readmore">Read More →</div>
                    </a>

                </div>
            </li>
        </ul>
    </div>
</section>