<body>

    <div id="mySidenav" class="sidenav">
        <p class="logo"><span>Energy</span> Manage</p>
        <a href="#" class="icon-a"> &nbsp;&nbsp;Dashboard</a>
        <a href="water" (click)="navigateWater()" class="icon-a">
            &nbsp;&nbsp;Water</a>
        <a class="icon-a" (click)="navigateelectricty()"> &nbsp;&nbsp;Electricity
        </a>
        <a (click)="navigategas()" class="icon-a">
            &nbsp;&nbsp;Gas</a>
        <a (click)="navigaterenewable()" class="icon-a">
            &nbsp;&nbsp;Renewable Energy</a>
        <a (click)="navigateadddata()" class="icon-a">
            &nbsp;&nbsp;Accounts</a>
        <a href="#" class="icon-a"><button class="btn btn-outline-success my-2 my-sm-0" (click)="logout()">Log
                Out</button></a>

    </div>
    <div id="main">

        <div class="head">
            <div class="col-div-6">
                <span style="font-size:30px;cursor:pointer; color: white;" class="nav">&#9776; Dashboard</span>
                <span style="font-size:30px;cursor:pointer; color: white;" class="nav2">&#9776; Dashboard</span>
            </div>

            <div class="col-div-6">
                <div class="profile">

                    <img src="../../assets/icons8-circled-user-male-skin-type-7.gif" class="pro-img" alt="image" />
                    <p>{{name}}<span>{{email}}</span></p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>
        <br />

        <div class="col-div-3">
            <div class="box">
                <a (click)="view()">
                    <p>{{length }}<br /><span></span></p>
                </a>
                <img src="../../assets/icons8-water-96.png" alt="water">
            </div>
        </div>
        <div class="col-div-3">
            <div class="box">
                <p>{{electrictylength}}<br /><span></span></p>
                <img src="../../assets/icons8-electricity-96.png" alt="electricty">
            </div>
        </div>
        <div class="col-div-3">
            <div class="box">
                <p>{{ gaslenght}}<br /><span></span></p>
                <img src="../../assets/icons8-gas-96.png" alt="gas">
            </div>
        </div>
        <div class="col-div-3">
            <div class="box">
                <p>{{ reneewablelength }}<br /><span></span></p>
                <img src="../../assets/icons8-renewable-energy-96.png" alt="renewable">
            </div>
        </div>
        <div class="clearfix"></div>
        <br /><br />

        <div class="card">
            <div class="image">
                <img src="https://media.istockphoto.com/photos/water-splash-of-falling-drop-with-circular-waves-picture-id1320488845?b=1&k=20&m=1320488845&s=170667a&w=0&h=fDoTxns9aJ5IL2sWHXkFGhge1urE8NEOZEjb9xTZaJQ=" alt="water img">
            </div>
            <div class="title">
                <h1>Water</h1>
            </div>
            <div class="des">
                <p>Water Management</p>
                <button (click)="water()">Entry</button>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="https://media.istockphoto.com/photos/concept-save-energy-efficiency-hand-holding-light-bulb-with-icon-on-picture-id1151503345?k=20&m=1151503345&s=612x612&w=0&h=3uGwzKaDVCC9uP8LBCoPzelDSht4YWF11x9a7Z5jx84=" alt="ele img">
            </div>
            <div class="title">
                <h1>Electricity</h1>
            </div>
            <div class="des">
                <p>Electricity Management</p>
                <button (click)="ele()">Entry </button>
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="https://media.istockphoto.com/photos/gas-bottles-lpg-plant-picture-id494257144?k=20&m=494257144&s=612x612&w=0&h=nXb_vYgdxD46oww8Z0DJd-U8lbhkz5rsbKtr3KviHvs=" alt="gas img ">
            </div>
            <div class="title">
                <h1>Gas </h1>
            </div>
            <div class="des">
                <p>Gas Management</p>
                <button (click)="gas()">Entry </button>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="https://thumbs.dreamstime.com/b/modern-green-city-powered-renewable-energy-sources-concept-85379174.jpg" alt="renewable energy">
            </div>
            <div class="title">
                <h1>Renewable </h1>
            </div>
            <div class="des">
                <p>Renewable Energy Management</p>
                <button (click)="renewable()">Entry</button>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="https://www.clipartmax.com/png/middle/41-410263_add-data-icon-add-data-icon-png.png" alt="renewable energy">
            </div>
            <div class="title">
                <h1>View Details</h1>
            </div>
            <div class="des">
                <p> For Energy Fields </p>
                <button (click)="adddata()">view </button>
            </div>
        </div>
        <div class="col-div-4">
            <div class="box-4">
                <div class="content-box">
                    <p>Energy level<span>Sell All</span></p>

                    <div class="circle-wrap">
                        <div class="circle">
                            <div class="mask full">
                                <div class="fill"></div>
                            </div>
                            <div class="mask half">
                                <div class="fill"></div>
                            </div>
                            <div class="inside-circle"> 70% </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(".nav").click(function() {
            $("#mySidenav").css('width', '70px');
            $("#main").css('margin-left', '70px');
            $(".logo").css('visibility', 'hidden');
            $(".logo span").css('visibility', 'visible');
            $(".logo span").css('margin-left', '-10px');
            $(".icon-a").css('visibility', 'hidden');
            $(".icons").css('visibility', 'visible');
            $(".icons").css('margin-left', '-8px');
            $(".nav").css('display', 'none');
            $(".nav2").css('display', 'block');
        });

        $(".nav2").click(function() {
            $("#mySidenav").css('width', '300px');
            $("#main").css('margin-left', '300px');
            $(".logo").css('visibility', 'visible');
            $(".icon-a").css('visibility', 'visible');
            $(".icons").css('visibility', 'visible');
            $(".nav").css('display', 'block');
            $(".nav2").css('display', 'none');
        });
    </script>

</body>
<app-footer></app-footer>